{
    email ${admin_email}
}

${stats_domain} {
    reverse_proxy localhost:19999 {
        header_up Host localhost
        header_down -Access-Control-Allow-Origin
        header_down -Access-Control-Allow-Methods
        header_down -Access-Control-Allow-Headers
    }

    header {
        Access-Control-Allow-Origin "*"
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "*"
    }

    @options {
        method OPTIONS
    }
    handle @options {
        respond 204
    }
}

${api_domain} {
    reverse_proxy localhost:8080
}
