services:

  netdata:
    image: 'netdata/netdata:stable'
    container_name: netdata
    pid: host
    network_mode: host
    restart: always
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opt:
      - 'apparmor:unconfined'
    volumes:
      - 'netdataconfig:/etc/netdata'
      - 'netdatalib:/var/lib/netdata'
      - '/proc:/host/proc:ro'
      - '/sys:/host/sys:ro'
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
      
  swagger-ui:
    image: swaggerapi/swagger-ui
    container_name: swagger-ui
    restart: always
    ports:
      - '8080:8080'
    environment:
      - 'API_URL=https://${stats_domain}/netdata-swagger.json'
      
  caddy:
    image: 'caddy:2'
    container_name: caddy
    restart: always
    network_mode: host
    volumes:
      - '/etc/caddy/Caddyfile:/etc/caddy/Caddyfile:ro'
      - 'caddy_data:/data'
      - 'caddy_config:/config'
      
volumes:
  netdataconfig: null
  netdatalib: null
  caddy_data: null
  caddy_config: null
